## Aula 13/7 - Listas e laço FOR (revisão)

In [3]:

frutas = ["maca", "banana", "pera" , "uva" ]
eletronicos = ["iphone", "tv", "controle" , "mouse"]

estoque = [  frutas  ,  eletronicos ]

print("Lista frutas = {} \n".format(frutas))
print("Lista eletronicos = {}\n".format(eletronicos))
print("Lista estoque = {}\n".format(estoque))

print("Imprimindo o primeiro item da lista frutas = {} \n".format(frutas[0]))                                                               
print("Imprimindo o terceiro item da lista eletronicos = {} \n".format(eletronicos[2]))  
print("Imprimindo o ultimo da lista frutas que está dentro da lista estoque = {} \n".format(estoque[0][3]))

preco_frutas = [  5 , 10 , 15 , 20 ]

print("Lista precos = {} \n".format(preco_frutas))

Lista frutas = ['maca', 'banana', 'pera', 'uva']

Lista eletronicos = ['iphone', 'tv', 'controle', 'mouse']

Lista estoque = [['maca', 'banana', 'pera', 'uva'], ['iphone', 'tv', 'controle', 'mouse']]

Imprimindo o primeiro item da lista frutas = maca

Imprimindo o terceiro item da lista eletronicos = controle

Imprimindo o ultimo da lista frutas que está dentro da lista estoque = uva

Lista precos = [5, 10, 15, 20]

In [28]:
#CONSULTA DE PRECO DE FRUTA

print("** consulta de precos **")
entrada_usuario = input("Digite o nome da fruta a ser consultado preco").lower().strip()

indice_buscar = frutas.index(entrada_usuario)

print("Voce consultou o preco da fruta {} . O preco atual é de {}".format(entrada_usuario , preco_frutas[indice_buscar] ) )

#EXERCICIO: trate para que apresente uma mensagem caso a fruta nao exista - voce pode usar if ou entao o try...except

** consulta de precos **

Digite o nome da fruta a ser consultado preco melancia

Voce consultou o preco da fruta melancia . O preco atual é de 50

In [27]:
frutas.append("melancia")
preco_frutas.append(50)

# frutas.remove("melancia")   
# preco_frutas.remove(50)

print(frutas)
print(preco_frutas)

['maca', 'banana', 'pera', 'uva', 'melancia']
[5, 10, 15, 20, 50]

In [29]:
print(estoque)

[['maca', 'banana', 'pera', 'uva', 'melancia'], ['iphone', 'tv', 'controle', 'mouse']]

In [31]:

variavel1 = "texto qualquer"
variavel2 = variavel1

print(variavel1)
print(variavel2)

texto qualquer
texto qualquer

In [34]:
variavel1 = "outro texto"

print(variavel1)
print(variavel2)

lista1 = [1,2,3]
lista2 = lista1

print(lista1)
print(lista2)

lista1.append(4)
print(lista1)
print(lista2)

outro texto
texto qualquer
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [36]:
lista3 = lista1.copy()
print(lista1)
print(lista2)
print(lista3)

lista1.append(5)
lista2 = lista1
lista3 = lista1.copy()

lista1.append(6)

print(lista1)
print(lista2)
print(lista3)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

In [12]:
string = "12, 13, 14, 15, 66, 88, 43"

lista = string.split(sep = ", ")

print(lista)

lista_numeros = [9, 98, 66,77,876,100, 1000]

lista_numeros.sort()
print(lista_numeros)

lista_numeros.sort(reverse = True)
print(lista_numeros)

['12', '13', '14', '15', '66', '88', '43']
[9, 66, 77, 98, 100, 876, 1000]
[1000, 876, 100, 98, 77, 66, 9]

In [13]:
lista1 = [1,2,3]
lista2 = [4,5,6]

lista1.extend(lista2)
print(lista1)

[1, 2, 3, 4, 5, 6]

In [15]:
lista3 = lista1 + lista2

print(lista3)

[1, 2, 3, 4, 5, 6, 4, 5, 6]

In [16]:
produtos = ["iphone","pc","mouse"]

print(produtos)

['iphone', 'pc', 'mouse']

In [17]:
print('\n'.join(produtos))

iphone
pc
mouse

## Laço For

In [24]:
#O for é um iterador, serve para fazer iterações. Cada iteração é um ciclo dentro de um "loop" de execução

for i in range(50):
    print("estamos na volta numero: {}".format(i + 1))

estamos na volta numero: 1
estamos na volta numero: 2
estamos na volta numero: 3
estamos na volta numero: 4
estamos na volta numero: 5
estamos na volta numero: 6
estamos na volta numero: 7
estamos na volta numero: 8
estamos na volta numero: 9
estamos na volta numero: 10
estamos na volta numero: 11
estamos na volta numero: 12
estamos na volta numero: 13
estamos na volta numero: 14
estamos na volta numero: 15
estamos na volta numero: 16
estamos na volta numero: 17
estamos na volta numero: 18
estamos na volta numero: 19
estamos na volta numero: 20
estamos na volta numero: 21
estamos na volta numero: 22
estamos na volta numero: 23
estamos na volta numero: 24
estamos na volta numero: 25
estamos na volta numero: 26
estamos na volta numero: 27
estamos na volta numero: 28
estamos na volta numero: 29
estamos na volta numero: 30
estamos na volta numero: 31
estamos na volta numero: 32
estamos na volta numero: 33
estamos na volta numero: 34
estamos na volta numero: 35
estamos na volta numero: 36
estamos na volta numero: 37
estamos na volta numero: 38
estamos na volta numero: 39
estamos na volta numero: 40
estamos na volta numero: 41
estamos na volta numero: 42
estamos na volta numero: 43
estamos na volta numero: 44
estamos na volta numero: 45
estamos na volta numero: 46
estamos na volta numero: 47
estamos na volta numero: 48
estamos na volta numero: 49
estamos na volta numero: 50

In [25]:
#Impressao de relatorio sem o for, linha a linha

produtos = ["coca", "pepsi", "fanta"]
producao = [2000,3000,4000]

print("**** Relatorio de produção ****")
print("O numero de {} produzidas foi de {}".format(produtos[0],producao[0]))
print("O numero de {} produzidas foi de {}".format(produtos[1],producao[1]))
print("O numero de {} produzidas foi de {}".format(produtos[2],producao[2]))
print("*** FIM DO RELATORIO ***")

**** Relatorio de produção ****
O numero de coca produzidas foi de 2000
O numero de pepsi produzidas foi de 3000
O numero de fanta produzidas foi de 4000
*** FIM DO RELATORIO ***

In [27]:
# A empresa cresceu e começarama a ser produzidos novos produtos

# imagine aqui um codigo python importanto os dados de um banco  de dados SQL e colocando numa lista
produtos = ["coca", "pepsi", "fanta", "sprite", "kwat", "tubaina" , "guarana", "coca zero", "guarana zero", "cerveja"]
producao = [2000,3000,4000,2000,3000,4000,2000,3000,4000,8000]

print("**** Relatorio de produção ****")
print("O numero de {} produzidas foi de {}".format(produtos[0],producao[0]))
print("O numero de {} produzidas foi de {}".format(produtos[1],producao[1]))
print("O numero de {} produzidas foi de {}".format(produtos[2],producao[2]))
print("O numero de {} produzidas foi de {}".format(produtos[3],producao[3]))
print("O numero de {} produzidas foi de {}".format(produtos[4],producao[4]))
print("O numero de {} produzidas foi de {}".format(produtos[5],producao[5]))
print("O numero de {} produzidas foi de {}".format(produtos[6],producao[6]))
print("O numero de {} produzidas foi de {}".format(produtos[7],producao[7]))
print("O numero de {} produzidas foi de {}".format(produtos[8],producao[8]))
print("O numero de {} produzidas foi de {}".format(produtos[9],producao[9]))
print("*** FIM DO RELATORIO ***")

**** Relatorio de produção ****
O numero de coca produzidas foi de 2000
O numero de pepsi produzidas foi de 3000
O numero de fanta produzidas foi de 4000
O numero de sprite produzidas foi de 2000
O numero de kwat produzidas foi de 3000
O numero de tubaina produzidas foi de 4000
O numero de guarana produzidas foi de 2000
O numero de coca zero produzidas foi de 3000
O numero de guarana zero produzidas foi de 4000
O numero de cerveja produzidas foi de 8000
*** FIM DO RELATORIO ***

In [29]:
# Não dá mais pra ficar inserindo a linha a linha, vamos usar o FOR PARA ITERAR A LISTA!!

# imagine aqui um codigo python importanto os dados de um banco  de dados SQL e colocando numa lista

produtos = ["coca", "pepsi", "fanta", "sprite", "kwat", "tubaina" , "guarana", "coca zero", "guarana zero", "cerveja"]
producao = [2000,3000,4000,2000,3000,4000,2000,3000,4000,8000]

print("**** Relatorio de produção ****")

for i in range(10): 
    print("O numero de {} produzidas foi de {}".format(produtos[i],producao[i]))

print("*** FIM DO RELATÓRIO ***")

**** Relatorio de produção ****
O numero de coca produzidas foi de 2000
O numero de pepsi produzidas foi de 3000
O numero de fanta produzidas foi de 4000
O numero de sprite produzidas foi de 2000
O numero de kwat produzidas foi de 3000
O numero de tubaina produzidas foi de 4000
O numero de guarana produzidas foi de 2000
O numero de coca zero produzidas foi de 3000
O numero de guarana zero produzidas foi de 4000
O numero de cerveja produzidas foi de 8000
*** FIM DO RELATÓRIO ***

In [33]:
# Não dá mais pra ficar inserindo a linha a linha, vamos usar o FOR PARA ITERAR A LISTA!!

# imagine aqui um codigo python importanto os dados de um banco  de dados SQL e colocando numa lista

produtos = [ "kwat", "tubaina" , "guarana", "coca zero", "guarana zero", "cerveja", "cerveja sem alcool", "vinho", "whisky", "redbull"]
producao = [3000,4000,2000,3000,4000,800,20000, 2000, 1000, 4000]

print("**** Relatorio de produção ****")

for i in range(len(produtos)): 
    print("O numero de {} produzidas foi de {}".format(produtos[i],producao[i]))

print("*** FIM DO RELATÓRIO ***")

**** Relatorio de produção ****
O numero de kwat produzidas foi de 3000
O numero de tubaina produzidas foi de 4000
O numero de guarana produzidas foi de 2000
O numero de coca zero produzidas foi de 3000
O numero de guarana zero produzidas foi de 4000
O numero de cerveja produzidas foi de 800
O numero de cerveja sem alcool produzidas foi de 20000
O numero de vinho produzidas foi de 2000
O numero de whisky produzidas foi de 1000
O numero de redbull produzidas foi de 4000
*** FIM DO RELATÓRIO ***

In [39]:
# agora vamos fazer sem o range, usando a funcionalidade do python de iterar itens da lista

# imagine aqui um codigo python importanto os dados de um banco  de dados SQL e colocando numa lista

produtos = [ "kwat", "tubaina" , "guarana", "coca zero", "guarana zero", "cerveja", "cerveja sem alcool", "vinho", "whisky", "redbull"]

print("**** Relatorio de produção ****")

for produto in produtos: 
    print("O numero de {} produzidas ".format(produto))

print("*** FIM DO RELATÓRIO ***")

**** Relatorio de produção ****
O numero de kwat produzidas
O numero de tubaina produzidas
O numero de guarana produzidas
O numero de coca zero produzidas
O numero de guarana zero produzidas
O numero de cerveja produzidas
O numero de cerveja sem alcool produzidas
O numero de vinho produzidas
O numero de whisky produzidas
O numero de redbull produzidas
*** FIM DO RELATÓRIO ***

In [41]:
vendas = [1000,1200,3000,2000,7000,10000]

meta = 2500

for venda in vendas:
    print ("venda {}".format(venda))  #isso aqui vai imprimir sempre
    if(venda >= meta):
        print("parabens, bateu a meta!") #só vai imprimir se for >= meta

venda 1000
venda 1200
venda 3000
parabens, bateu a meta!
venda 2000
venda 7000
parabens, bateu a meta!
venda 10000
parabens, bateu a meta!

In [44]:
# agora vamos fazer sem o range, usando a funcionalidade do python de iterar itens da lista

# imagine aqui um codigo python importanto os dados de um banco  de dados SQL e colocando numa lista

produtos = [ "kwat", "tubaina" , "guarana", "coca zero", "guarana zero", "cerveja", "cerveja sem alcool", "vinho", "whisky", "redbull"]

print("**** Relatorio de produção ****")

for produto in produtos:  # iteração em itens de uma lista
    indice = produtos.index(produto)  # recuperando o indice do item para consultar outra lista
    print("O numero de {} produzidas foi de {}".format(produto , producao[indice])) #utilizando o indice

print("*** FIM DO RELATÓRIO ***")

**** Relatorio de produção ****
O numero de kwat produzidas foi de 3000
O numero de tubaina produzidas foi de 4000
O numero de guarana produzidas foi de 2000
O numero de coca zero produzidas foi de 3000
O numero de guarana zero produzidas foi de 4000
O numero de cerveja produzidas foi de 800
O numero de cerveja sem alcool produzidas foi de 20000
O numero de vinho produzidas foi de 2000
O numero de whisky produzidas foi de 1000
O numero de redbull produzidas foi de 4000
*** FIM DO RELATÓRIO ***

In [46]:
# agora vamos fazer sem o range, usando a funcionalidade do python de iterar itens da lista

# imagine aqui um codigo python importanto os dados de um banco  de dados SQL e colocando numa lista

produtos = [ "kwat", "tubaina" , "guarana", "coca zero", "guarana zero", "cerveja", "cerveja sem alcool", "vinho", "whisky", "redbull"]

print("**** Relatorio de produção ****")

for indice, produto in enumerate(produtos):  # iteração em itens de uma lista   
    print("O numero de {} produzidas foi de {}".format(produto , producao[indice])) #utilizando o indice

print("*** FIM DO RELATÓRIO ***")

**** Relatorio de produção ****
O numero de kwat produzidas foi de 3000
O numero de tubaina produzidas foi de 4000
O numero de guarana produzidas foi de 2000
O numero de coca zero produzidas foi de 3000
O numero de guarana zero produzidas foi de 4000
O numero de cerveja produzidas foi de 800
O numero de cerveja sem alcool produzidas foi de 20000
O numero de vinho produzidas foi de 2000
O numero de whisky produzidas foi de 1000
O numero de redbull produzidas foi de 4000
*** FIM DO RELATÓRIO ***

In [53]:
frutas = ["banana", "pera", "uva"]
precos = [5, 9, 2 ]

#o enumerate vai trazer DUAS informações: o indice e o valor daquele item que está iterando
for indice, fruta in enumerate(frutas):
    print("a fruta do indice {} é {} e o preço é {}".format( indice , fruta , precos[indice]))

a fruta do indice 0 é banana e o preço é 5
a fruta do indice 1 é pera e o preço é 9
a fruta do indice 2 é uva e o preço é 2

In [54]:
vendas = 40
print(vendas)

40

In [61]:
vendas = vendas + 1
print(vendas)

79

In [64]:
vendas -= 11
print(vendas)

30

In [65]:
vendas = [10,20,30,40,10]
meta = 25
bateram_meta = 0

for venda in vendas:
    print(venda)
    if venda >= meta:
        print("bateu a meta")
        bateram_meta += 1

print(bateram_meta , " vendedores bateram a meta")

10
20
30
bateu a meta
40
bateu a meta
10
2  vendedores bateram a meta

In [67]:
# for dentro do for

estoque = [ ['maca','banana','pera','uva'] , ['iphone','tv','controle','mouse'] ]

for lista in estoque:
    for item in lista:
        print(item)

maca
banana
pera
uva
iphone
tv
controle
mouse